
Library/PackageCache/com.unity.toolchain.win-x86_64-linux-x86_64@2.0.2/data~/payload.tar.7z
Library/PlayerDataCache/Android/Data/data.unity3d
Library/il2cpp_android_armeabi-v7a/il2cpp_cache/linkresult_860DCB733CF6E0D7DD29EC34E5A1CC9F/libil2cpp.dbg.so
Library/il2cpp_android_armeabi-v7a/il2cpp_cache/linkresult_860DCB733CF6E0D7DD29EC34E5A1CC9F/libil2cpp.sym.so
Library/il2cpp_android_arm64-v8a/il2cpp_cache/linkresult_1285CF6F5755B2FB40C59F748A706C04/libil2cpp.sym.so
Library/il2cpp_android_arm64-v8a/il2cpp_cache/linkresult_1285CF6F5755B2FB40C59F748A706C04/libil2cpp.dbg.so
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-9_3_0.bundle
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-9_3_0.bundle.meta
Library/ArtifactDB
